# ───────────────────────────────
# Local app / tool configurations
# ───────────────────────────────
iterm2/
gh/
nvim.bak/
raycast/
thefuck/
neofetch/
rstudio/
btop/
configstore/

# ───────────────────────────────
# Lua / Luarocks
# ───────────────────────────────
luac.out
*.src.rock
*.zip
*.tar.gz

# ───────────────────────────────
# Compiled object files
# ───────────────────────────────
*.o
*.os
*.ko
*.obj
*.elf

# ───────────────────────────────
# Precompiled headers
# ───────────────────────────────
*.gch
*.pch

# ───────────────────────────────
# Libraries
# ───────────────────────────────
*.lib
*.a
*.la
*.lo
*.def
*.exp

# ───────────────────────────────
# Shared objects / DLLs
# ───────────────────────────────
*.dll
*.so
*.so.*
*.dylib

# ───────────────────────────────
# Executables
# ───────────────────────────────
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# ───────────────────────────────
# Neovim / Plugins
# ───────────────────────────────
plugin/packer_compiled.lua
